<html>
    <title>Marksheet Generator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    h1{
text-align:center;
}
</style>


    <body >
        <div >
            <td align="center">
            <header>
                <h1><b>Transcript Generator</b></h1>
            </header>
             </td >
            <form class="w3-container w3-center" method="post" enctype=multipart/form-data >
                <table border=0 align="center">
                    <tr>
                        <div class= "form-group">
                            <td><br><label> Enter the range of roll of numbers</label></td>
                            <td left-padding= 10><br>&nbsp;&nbsp;<input  class="form-control" type="text"name="correct" ></td>
                        </div>
                    </tr>

                    <tr>
                        <td><br>Upload Stamp </td>
                        <td left-padding= 10><br>&nbsp;&nbsp;<input type="file" name="upload_1" v></td>
                    </tr>
                    <tr>
                        <td><br>Upload Signature </td>
                        <td left-padding= 10><br>&nbsp;&nbsp;<input type="file" name="upload_2"></td>
                    </tr>


                </table>
                <br>

                <table border=0 align="center">
                    <tr>
                        <td align="center">
                            <div>
                                <input type=submit name = "action" value= "Generate transcript(s)">
                            </div>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                        </td>
                    </tr>

                    <tr>

                    </tr>
                </table>

            </form>

        </div>

    
    </body>

</html>

